GATEWAY_PORT=4000
GATEWAY_REDIS_URL=redis://localhost:6379
GATEWAY_JWT_SECRET=Xk68+<hId<|%ySdj:UN(p}^*5)&Uk:!)IlaEsmCx&=w
GATEWAY_API_URL=http://localhost:3001/api/v1
GATEWAY_ENV=development
GATEWAY_LOG_LEVEL=debug
WS_HEARTBEAT_INTERVAL=30
PRESENCE_GRACE_PERIOD=30
